[submodule "platform"]
	path = platform
	url = https://github.com/open-form/platform.git
[submodule "incubator"]
	path = incubator
	url = https://github.com/open-form/incubator.git
[submodule "artifacts"]
	path = artifacts
	url = https://github.com/open-form/artifacts.git
