/* Fonts */
@import "@fontsource/geist-sans";
@import "@fontsource-variable/geist-mono";

/* Tailwind */
@import "tailwindcss";
@import "tw-animate-css";

/* Fumadocs */
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";

/* UI package */
@source "../../platform-packages/common/src";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9997 0.0013 106.4229);
  --foreground: oklch(0.3194 0.0073 59.4966);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3345 0.0198 86.4456);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2671 0.0196 98.939);
  /* --primary: oklch(0.4953 0.0889 171.9742); */
  --primary: oklch(0.5786 0.1666 44.44);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9738 0.0045 78.2982);
  --secondary-foreground: oklch(0.3345 0.0198 86.4456);
  --muted: oklch(0.9738 0.0045 78.2982);
  --muted-foreground: oklch(0.55 0.0072 75.3664);
  --accent: oklch(0.9738 0.0045 78.2982);
  --accent-foreground: oklch(0.2671 0.0196 98.939);
  --destructive: oklch(0.1908 0.002 106.5859);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.4484 0.0083 67.614);
  --ring: oklch(0.541 0.0833 135.5608);
  --sidebar: oklch(0.1704 0.0039 48.4791);
  --sidebar: oklch(0.9738 0.0045 78.2982);
  --sidebar-primary: oklch(0.4838 0.0635 38.4004);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9654 0.0025 48.719);
  --sidebar-accent-foreground: oklch(0.325 0 0);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.8522 0.0011 17.1812);
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 1.5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 1.5px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0 1px 1.5px 0px hsl(0 0% 0% / 0);
  --shadow-sm:
    0 1px 1.5px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0 1px 1.5px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md:
    0 1px 1.5px 0px hsl(0 0% 0% / 0), 0 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg:
    0 1px 1.5px 0px hsl(0 0% 0% / 0), 0 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl:
    0 1px 1.5px 0px hsl(0 0% 0% / 0), 0 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0 1px 1.5px 0px hsl(0 0% 0% / 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2189 0.0065 78.1847);
  --foreground: oklch(0.9702 0 0);
  --card: oklch(0.2492 0.0048 67.6049);
  --card-foreground: oklch(0.9818 0.0054 95.0986);
  --popover: oklch(0.3085 0.0035 106.6039);
  --popover-foreground: oklch(0.9211 0.004 106.4781);
  --primary: oklch(0.5393 0.1219 50.3041);
  --primary-foreground: oklch(0.9702 0 0);
  --secondary: oklch(0.3841 0.0093 80.6847);
  --secondary-foreground: oklch(0.7257 0.0018 67.7939);
  --muted: oklch(0.2213 0.0038 106.707);
  --muted-foreground: oklch(0.7575 0.0099 62.5408);
  --accent: oklch(0.3841 0.0093 80.6847);
  --accent-foreground: oklch(0.9663 0.008 98.8792);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.304 0.0091 67.4736);
  --input: oklch(0.4336 0.0113 100.2195);
  --ring: oklch(0.4784 0.0699 53.9625);
  --chart-1: oklch(0.5583 0.1276 42.9956);
  --chart-2: oklch(0.6898 0.1581 290.4107);
  --chart-3: oklch(0.213 0.0078 95.4245);
  --chart-4: oklch(0.3074 0.0516 289.323);
  --chart-5: oklch(0.5608 0.1348 42.0584);
  /* --sidebar: oklch(0.1966 0.0084 84.5796); */
  --sidebar: oklch(0.2 0.0065 78.1847);
  --sidebar-foreground: oklch(0.783 0 0);
  --sidebar-primary: oklch(0.325 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.168 0.002 106.6177);
  --sidebar-accent-foreground: oklch(0.8074 0.0142 93.0137);
  --sidebar-border: oklch(0.2529 0.012 62.2555);
  --sidebar-ring: oklch(0.7731 0 0);
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 1.5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 1.5px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0 1px 1.5px 0px hsl(0 0% 0% / 0);
  --shadow-sm:
    0 1px 1.5px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0 1px 1.5px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md:
    0 1px 1.5px 0px hsl(0 0% 0% / 0), 0 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg:
    0 1px 1.5px 0px hsl(0 0% 0% / 0), 0 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl:
    0 1px 1.5px 0px hsl(0 0% 0% / 0), 0 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0 1px 1.5px 0px hsl(0 0% 0% / 0);
}

@theme inline {
  --font-sans: "Geist Sans Variable", sans-serif;
  --font-mono: "Geist Mono Variable", ui-monospace, monospace;
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --color-fd-card: var(--card);
  --color-fd-card-foreground: var(--card-foreground);
  --color-fd-border: var(--border);
  --color-fd-muted: var(--muted);
  --color-fd-muted-foreground: var(--muted-foreground);
  --color-fd-secondary: var(--background);
  --color-fd-secondary-foreground: var(--secondary-foreground);
  --color-fd-accent: var(--accent);
  --color-fd-accent-foreground: var(--accent-foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground antialiased;
  }
  html {
    @apply font-sans;
  }
  code {
    @apply font-mono;
  }

  h1 {
    @apply text-2xl font-medium;
  }

  h2 {
    @apply text-xl font-medium;
  }

  h3 {
    @apply text-lg font-semibold;
  }
}
